* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#container {
  margin: auto;
  width: 900px;
  height: 100vh;
}

#navbar {
  width: 700px;
  margin: auto;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 10px;
  padding-right: 50px;
  justify-content: space-between;
  background-color: gainsboro;
}
.navigation {
  font-size: 20px;
  font-weight: 600;
  display: grid;
  justify-content: flex-end;
}
#mainSection {
  width: 700px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  /* flex-wrap: wrap; */
  margin-top: 20px;
}
.box {
  width: 160px;
  height: 125px;
  background-color: gainsboro;
}

#thirdSection {
  width: 700px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  margin-top: 20px;
  flex-wrap: wrap;
  gap: 20px;
}
.largebox {
  width: 220px;
  height: 200px;
  background-color: gainsboro;
}

#footer {
  width: 700px;
  margin: auto;
  background-color: gainsboro;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding: 10px;
  font-size: 20px;
}
.footerp {
  display: grid;
  justify-content: center;
}
